<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubblify</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <% if (!locals.user) { %>
            <h1 class="logo"><a href="/">bubblify</a></h1>
            <div class="headerLinksDiv">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
        <% } %>


        <% if (locals.user) { %>
            <div class="nameOrAdminDiv">
                <% if (user.role == 'admin') { %>
                    <a href="/admin">Admin</a>
                <% } else { %>
                    <p><%= user.username %></p>
                <% } %>
            </div>
            <h1 class="logo"><a href="/">bubblify</a></h1>
            <div class="headerLinksDiv">
                <a href="/myShoppingCart">Cart</a>
                <a href="/wishlist">Wishlist</a>
            </div>
        <% } %>
    </header>