<%- include("./partials/header") %>

    <div>
        <h1>Welcome to Bubblify!</h1>
    </div>

    <a href="/register">Register</a>
    <a href="/login">Login</a>

<%- include("./partials/footer") %>