


<%- include("./partials/header") %>




<% if (!locals.user) { %>

    <div>
        <h1>Welcome to product page!</h1>
    </div>

    <a href="/register">Register</a>
    <a href="/login">Login</a>

<% } %> 


<% if (locals.user) { %>


<div>
    
    <h1>Hi <%=user.username%></h1>
    
</div>



<% if (user.role == 'admin') { %>
    <a href="/admin">To admin page</a> 
<% } %>

<div><a href="/logout">Log Out</a></div>
<% } %>

<% products.forEach(product => { %>
    
    <div><%= product.title %></div>

<% }) %>

<%- include("./partials/footer") %>