<%- include("../partials/header") %>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="email" name="email" placeholder="E-mail">
    <button type="submit">Go</button>
</form>
<%- include("../partials/footer") %>