<%- include("../partials/secondheader") %>

    <div class="resetpasswordpage">
        <div class="resetpasswordform">
            <div class="resetpasswordheader">
                <h1 class="resetpasswordlogo">bubblify</h1>
            </div>
            <div class="resetpasswordmessages">
                <%- include("../helpers/messages") %>
            </div>
            <form action="/resetPassword" method="post" class="resetpassword">
                <input type="password" name="password" class="resetpassword1" placeholder="Create new password">
                <input type="password" name="password2" class="resetpassword2" placeholder="Confirm new password">
                <input type="email" name="email" value="<%= email %>" hidden>
                <button type="submit" class="resetpasswordbtn">Reset Password</button>
            </form>

        </div>
    </div>

    <%- include("../partials/secondfooter") %>