<%- include("../partials/header") %>

<h1>hello</h1>

<form action="/reset" method="post">
    <input type="email" name="email" id="" placeholder="Your Email">

    <button type="submit">Enter</button>

</form>

<a href="/login">Back to login</a>

<%- include("../helpers/messages") %>

<%- include("../partials/footer") %>


