<form action="/resetPassword" method="post">

    <input type="password" name="password" id="" placeholder="Ange ditt nya lösenord">
    <input type="email" name="email" value="<%= email %>" hidden >
    
    <button type="submit">Reset Password</button>

</form>