<%- include("../partials/header") %>

    <div class="thankYouMain">
        <div class="thankYouDiv">
            <h1>Thank you!</h1>
            <p>Your order confirmation has been sent to:</p>
            <p class="mail">
                <%= user.email %>
            </p>
        </div>

        <div class="thankYouImg"><img src="images/cheers.png"></div>

        <div class="thankYouNavigation">
            <a href="/">Go to Start</a>
        </div>
    </div>

    <%- include("../partials/footer") %>