<%- include("../partials/header") %>

<div>
    
    <h1>Hi <%=user.username%> and Welcome to Bubblify!</h1>
    
</div>

<% products.forEach(product => { %>
    
    <div><%= product.title %></div>

<% }) %>

<% if (user.role == 'admin') { %>
    <a href="/admin">To admin page</a> 
<% } %>

<div><a href="/logout">Log Out</a></div>

<%- include("../partials/footer") %>