@import 'register';
@import 'login';
@import 'productPage';  
@import 'reset';
@import 'resetpassword';
@import 'wishlist';
@import 'admin';
@import 'adminEdit';
@import 'helper/mixins';
@import 'helper/variables';
@import 'cart.scss';
@import 'checkout.scss';


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

body {
  width: 100%;
  background-color: $bubblifylight;
  color: $bubblifyblack;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  //Header styling, all pages
  header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: $bubblifylight;
    border-bottom: 5px double black;
    z-index: 2;
    @include ipad-xl {
      height: 100px;
    }

    .sparkles {
      position: absolute;
      bottom: 22%;
      left: 50%;
      transform: translateX(-50%);
      color: $bubblifygrey;
      font-size: 0.6rem;
      letter-spacing: 1.2px;
      padding-right: 5px;
      @include ipad-small {
        font-size: 0.7rem;
      }
      @include ipad-xl {
        bottom: 23%;
        font-size: 0.85rem;
        letter-spacing: 2px;
      }
    }
    
    h1 {
      position: absolute;
      top: 25%;
      left: 50%;
      margin-left: -77px;
      font-family: 'Abhaya Libre', serif;
      font-size: 2rem;
      letter-spacing: 5px;
      @include ipad-xl {
        font-size: 2.15rem;
      }

      a {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .nameOrAdminDiv {
      float: left;
      position: absolute;
      top: 50%;
      transform: translateY(-25%);
      margin-left: 15px;
      font-size: 0.7rem;
      @include ipad-small {
        font-size: 0.8rem;    
      }

      p {
        text-transform: uppercase;
      }

      a {
        color: #0F100A;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: grey;
        }
      }
    }

    .headerLinksDiv {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      margin-right: 15px;
      @include ipad-small {
        flex-direction: row; 
        align-items: center;
      }

      .totalInCart {
        position: absolute;
        top: 21px;
        right: 6px;
        background-color: $bubblifygold;
        border-radius: 10px;
        padding: 1px 4px 1.5px 4px;
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        @include ipad-small {
          font-size: 0.6rem;
          top: 24px;
          right: 83px;
        }
        @include ipad-xl {
          padding: 1.5px 5px 2px 5px;
          top: 28px;
        }
      }

      a {
        color: $bubblifyblack;
        font-size: 0.7rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: end;
        cursor: pointer;
        @include ipad-small {
          font-size: 0.8rem;    
          margin: 0 7px;
        }

        &:hover {
          color: grey;
        }
      }
    }
  }

  //Startpage styling
  .indexMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    @include ipad-xl {
      margin-top: 100px;
    }

    .indexHero {
      width: 100%;
      overflow: hidden;
  
      img {
        height: 660px;
        @include ipad-small {
          width: 100%;
          height: 100%;
        }
      }
    }

    .discoverDiv {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .discoverText {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    .indexProductContainer {
      width: 100%;
      height: 240px;
      display: flex;
      justify-content: center;
      @include ipad-small {
        width: 80%;
      }
      @include ipad-xl {
        height: 330px;
      }

      
      .indexProductDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include ipad-small {
          width: 35%;
          display: flex;
          margin-top: 10px;
        }

        &:nth-of-type(2) {
          display: none;
          @include ipad-small {
            width: 35%;
            display: flex;
          }
        }

        &:nth-of-type(3) {
          display: none;
          @include ipad-small {
            width: 35%;
            display: flex;
          }
        }
    
        img {
          width: 22%;
          @include mobile-large {
            width: 15%;
          }
          @include ipad-small {
            width: 40%;
          }
          @include ipad-xl {
            width: 50%;
          }
          @include desktop {
            width: 30%;
          }
        }
        
        .productTitle {
          font-weight: bold;
        }
    
        div {
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 0.8rem;
          font-weight: bold;
          text-transform: uppercase;

          .originBlend {
            margin: 0 5px;
          }
        }
      }
    }

    .indexBrowse {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;

      a {
        padding: 5px 20px;
        background-color: $bubblifygrey;
        color: $bubblifylight;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 10px;
  
        &:hover {
          background-color: $bubblifyblack;
        }
      }
    }
  
    .indexQuoteText {
      width: 100%;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top: 2px solid $bubblifygrey;
  
      p {
        width: 80%;
        font-size: 0.9rem;
        font-style: italic;
        @include ipad-small {
          font-size: 1rem;
          width: 60%;
        }
      }
    }
  }

  //Footer styling, all pages
  footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $bubblifygrey;

    .footerContactDiv {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      font-size: 0.8rem;
      color: $bubblifylight;
      @include mobile-large {
        font-size: 1rem;
      }

      i {
        color: $bubblifylight;
        margin-right: 5px;
      }

      a {
        margin-top: 10px;
        color: $bubblifylight;

        &:hover {
          color: grey;
        }
      }
    }
  }
}       
