@import 'helper/mixins';
@import 'helper/variables.scss';

.registerpage {
    height: 100vh;
    @include flexdisplay;
    .registerform {
        height: 80%;
        width: 80%;
        box-shadow: 2px 2px 4px #2F342E;
        @include flexcolumn;
        font-family: $fontroboto;
        @include ipad-large {
            width: 60%;
        }
        .registerheader {
            width: 100%;
            border-bottom: 5px double #000;
            @include flexdisplay;
            margin-bottom: 3rem;
            margin-top: 3rem;
            .registerlogo {
                margin-bottom: 1rem;
                font-size: 3rem;
                letter-spacing: 0.1ch;
                color: $bubblifyblack;
                font-family: $fontabhaya;
                font-weight: bold;
            }
        }
        .registererror {
            @include formmessages;
        }
        .register {
            @include flexcolumn;
            .registername {
                @include registerandloginform;
            }
            .registeremail {
                @include registerandloginform;
            }
            .registerpassword {
                @include registerandloginform;
            }
            .registerpassword2 {
                @include registerandloginform;
            }
            .registerbtn {
                margin-top: 0.5rem;
                width: 100%;
                background-color: $bubblifygrey;
                border: 1px solid transparent;
                color: $bubblifylight;
                padding: 0.4rem;
                letter-spacing: 0.3ch;
                font-family: $fontroboto;
                cursor: pointer;
                &:hover {
                    transition: all 0.5s ease;
                    border: 1px solid $bubblifygold;
                    background-color: $bubblifygold;
                    color: $bubblifylight;
                }
            }
        }
        .tologin {
            margin: 1.5rem 0 3rem 0;
            .tologinbtn {
                text-align: center;
                width: 100%;
                margin-top: 0.5rem;
                text-decoration: none;
                font-size: 0.5rem;
                font-weight: bold;
                letter-spacing: 0.2ch;
                color: #2F342E;
                background-color: $bubblifylight;
                border: 1px solid #2F342E;
                padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                transition: background-color 0.5s ease;
                &:hover { 
                    transition: all 0.5s ease;
                    background-color: $bubblifygrey;
                    color: $bubblifylight;
                }
            }
        }
    }
}


