@import "helper/mixins";
@import "helper/variables.scss";

.resetpasswordpage {
  background-color: $bubblifygrey;
  height: 100vh;
  @include flexdisplay;
  .resetpasswordform {
    height: 80%;
    width: 70%;
    background-color: $bubblifylight;
    box-shadow: 2px 2px 4px #2f342e;
    @include flexcolumn;
    font-family: $fontroboto;
    @include ipad-large {
      width: 50%;
    }
    .resetpasswordheader {
      width: 100%;
      border-bottom: 5px double #000;
      @include flexdisplay;
      margin-bottom: 3rem;
      margin-top: 3rem;
      .resetpasswordlogo {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        color: $bubblifyblack;
        font-family: $fontabhaya;
        font-weight: bold;
      }
    }
    .resetpasswordmessages {
      @include formmessages;
    }
    .resetpassword {
      @include flexcolumn;
      .resetpassword1 {
        @include registerandloginform;
      }
      .resetpassword2 {
        @include registerandloginform;
      }
      .resetpasswordbtn {
        margin-top: 0.5rem;
        width: 100%;
        background-color: $bubblifygrey;
        border: 1px solid transparent;
        color: $bubblifylight;
        padding: 0.4rem;
        letter-spacing: 0.3ch;
        font-family: $fontroboto;
        cursor: pointer;
        &:hover {
          transition: all 0.5s ease;
          border: 1px solid $bubblifygold;
          background-color: $bubblifygold;
          color: $bubblifylight;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
