@import 'helper/mixins';
@import 'helper/variables.scss';

#wishWrapper {
    @include flexcolumn;
    justify-content: flex-start;
    a {
        text-decoration: none;
        color:black;
        &:hover {
            opacity:0.7;
        }
    }
    #wishMenu {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100%;
        margin: 30px;
        h3 {
            text-align: center;
        }
    }
    .wishItem {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:70%;
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        img {
            width:187.5px;
            height:312.5px;
        }
    }
    @include ipad-small {
        @include wishListWrap;
        .wishItem {
            width:45%;
        }
    }
    @include ipad-large {
        @include wishListWrap;
        .wishItem {
            width:30%;
        }
    }
    @include desktop {
    @include wishListWrap;
        .wishItem {
            width:22%;
        }
    }
}