.registerpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .registerpage .registerform {
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 4px #2F342E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; }
    @media screen and (min-width: 992px) {
      .registerpage .registerform {
        width: 60%; } }
    .registerpage .registerform .registerheader {
      width: 100%;
      border-bottom: 5px double #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-top: 3rem; }
      .registerpage .registerform .registerheader .registerlogo {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        color: #0F100A;
        font-family: "Abhaya Libre", serif;
        font-weight: bold; }
    .registerpage .registerform .registererror {
      max-width: 50%;
      font-size: 0.6rem;
      text-align: center;
      margin-bottom: 1rem; }
    .registerpage .registerform .register {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .registerpage .registerform .register .registername {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .registerpage .registerform .register .registername:focus {
          outline: none; }
      .registerpage .registerform .register .registeremail {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .registerpage .registerform .register .registeremail:focus {
          outline: none; }
      .registerpage .registerform .register .registerpassword {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .registerpage .registerform .register .registerpassword:focus {
          outline: none; }
      .registerpage .registerform .register .registerpassword2 {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .registerpage .registerform .register .registerpassword2:focus {
          outline: none; }
      .registerpage .registerform .register .registerbtn {
        margin-top: 0.5rem;
        width: 100%;
        background-color: #2F342E;
        border: 1px solid transparent;
        color: #f9f9f9;
        padding: 0.4rem;
        letter-spacing: 0.3ch;
        font-family: "Roboto", sans-serif;
        cursor: pointer; }
        .registerpage .registerform .register .registerbtn:hover {
          transition: all 0.5s ease;
          border: 1px solid #2F342E;
          background-color: #f9f9f9;
          color: #2F342E; }
    .registerpage .registerform .tologin {
      margin: 1.5rem 0 3rem 0; }
      .registerpage .registerform .tologin .tologinbtn {
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        color: #2F342E;
        background-color: #f9f9f9;
        border: 1px solid #2F342E;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        transition: background-color 0.5s ease; }
        .registerpage .registerform .tologin .tologinbtn:hover {
          transition: all 0.5s ease;
          background-color: #2F342E;
          color: #f9f9f9; }

.loginpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loginpage .loginform {
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 4px #2F342E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; }
    @media screen and (min-width: 992px) {
      .loginpage .loginform {
        width: 60%; } }
    .loginpage .loginform .loginheader {
      width: 100%;
      border-bottom: 5px double #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-top: 3rem; }
      .loginpage .loginform .loginheader .loginlogo {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        color: #0F100A;
        font-family: "Abhaya Libre", serif;
        font-weight: bold; }
    .loginpage .loginform .loginmessages {
      max-width: 50%;
      font-size: 0.6rem;
      text-align: center;
      margin-bottom: 1rem; }
    .loginpage .loginform .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .loginpage .loginform .login .loginemail {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .loginpage .loginform .login .loginemail:focus {
          outline: none; }
      .loginpage .loginform .login .loginpassword {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .loginpage .loginform .login .loginpassword:focus {
          outline: none; }
      .loginpage .loginform .login .loginbtn {
        margin-top: 0.5rem;
        width: 100%;
        background-color: #2F342E;
        border: 1px solid transparent;
        color: #f9f9f9;
        padding: 0.4rem;
        letter-spacing: 0.3ch;
        font-family: "Roboto", sans-serif;
        cursor: pointer; }
        .loginpage .loginform .login .loginbtn:hover {
          transition: all 0.5s ease;
          border: 1px solid #2F342E;
          background-color: #f9f9f9;
          color: #2F342E; }
    .loginpage .loginform .registerandresetbtn {
      margin: 1.5rem 0 3rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .loginpage .loginform .registerandresetbtn .toregisterbtn {
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        color: #2F342E;
        background-color: #f9f9f9;
        border: 1px solid #2F342E;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        transition: background-color 0.5s ease; }
        .loginpage .loginform .registerandresetbtn .toregisterbtn:hover {
          transition: all 0.5s ease;
          background-color: #2F342E;
          color: #f9f9f9; }
      .loginpage .loginform .registerandresetbtn .toresetbtn {
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        color: #2F342E;
        background-color: #f9f9f9;
        border: 1px solid #2F342E;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        transition: background-color 0.5s ease; }
        .loginpage .loginform .registerandresetbtn .toresetbtn:hover {
          transition: all 0.5s ease;
          background-color: #2F342E;
          color: #f9f9f9; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #F9F9F9;
  color: #0F100A;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; }
  body .productMain {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .productMain .heroText {
      width: 50%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body .productMain .heroText {
          width: 100%; } }
      body .productMain .heroText p {
        font-size: 1.2rem; }
    body .productMain .productHero {
      width: 100%; }
      body .productMain .productHero img {
        width: 100%; }
    body .productMain .ourProductsDiv {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      body .productMain .ourProductsDiv .ourProductsText {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold; }
    body .productMain .sortContainer {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #9e9e9e; }
      body .productMain .sortContainer .sortDropdown {
        width: 25%;
        position: relative;
        display: inline-block;
        text-align: center; }
        @media screen and (min-width: 768px) {
          body .productMain .sortContainer .sortDropdown {
            width: 15%; } }
        body .productMain .sortContainer .sortDropdown .sortBtn {
          border: none;
          border-radius: 5px;
          background-color: transparent;
          font-size: 0.8rem;
          font-weight: bold;
          text-transform: uppercase;
          padding: 3px 7px 2px 7px;
          margin-top: 10px; }
          body .productMain .sortContainer .sortDropdown .sortBtn:hover {
            font-weight: lighter;
            background-color: #0F100A;
            color: #F9F9F9; }
        body .productMain .sortContainer .sortDropdown .sortLinks {
          width: 100%;
          display: none;
          position: absolute;
          z-index: 1; }
          body .productMain .sortContainer .sortDropdown .sortLinks a {
            display: block;
            width: 100%;
            font-size: 0.8rem;
            color: #0F100A;
            text-decoration: none; }
            body .productMain .sortContainer .sortDropdown .sortLinks a:hover {
              text-decoration: underline; }
    body .productMain .sortDropdown:hover .sortLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px; }
    body .productMain .productContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 20px; }
      @media screen and (min-width: 768px) {
        body .productMain .productContainer {
          flex-direction: row;
          flex-wrap: wrap; } }
      body .productMain .productContainer .productDiv {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        margin: 15px 0;
        border-bottom: 1px solid #0F100A;
        cursor: pointer; }
        @media screen and (min-width: 768px) {
          body .productMain .productContainer .productDiv {
            width: 33%;
            border: none; } }
        body .productMain .productContainer .productDiv .modalHidden {
          display: none; }
        body .productMain .productContainer .productDiv .modalVisible {
          background-color: rgba(0, 0, 0, 0.8);
          position: fixed;
          top: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          body .productMain .productContainer .productDiv .modalVisible .modalContent {
            background-color: #F9F9F9;
            border: 1px solid #0F100A;
            max-width: 70%;
            font-weight: bold;
            text-align: center;
            padding-bottom: 15px; }
            @media screen and (min-width: 768px) {
              body .productMain .productContainer .productDiv .modalVisible .modalContent {
                max-width: 50%; } }
            body .productMain .productContainer .productDiv .modalVisible .modalContent .closeModal {
              display: flex;
              justify-content: flex-end;
              font-weight: bold;
              margin: 5px 5px 0 0;
              cursor: pointer; }
            body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo img {
                max-width: 90%;
                max-height: 90%; }
                @media screen and (min-width: 768px) {
                  body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo img {
                    max-width: 40%;
                    max-height: 40%; } }
                @media screen and (min-width: 1024px) {
                  body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo img {
                    max-width: 30%;
                    max-height: 30%; } }
              body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo p {
                font-size: 0.8rem;
                font-weight: normal;
                margin-bottom: 3px; }
                @media screen and (min-width: 768px) {
                  body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo p {
                    width: 60%; } }
                body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo p:nth-of-type(1) {
                  font-style: italic;
                  margin-bottom: 10px; }
                body .productMain .productContainer .productDiv .modalVisible .modalContent .productInfo p:nth-of-type(2) {
                  margin-bottom: 4px; }
        body .productMain .productContainer .productDiv picture {
          width: 100%;
          display: flex;
          justify-content: center; }
          body .productMain .productContainer .productDiv picture img {
            width: 50%; }
            @media screen and (min-width: 1024px) {
              body .productMain .productContainer .productDiv picture img {
                width: 40%; } }
        body .productMain .productContainer .productDiv p {
          font-size: 0.9rem;
          letter-spacing: 2px;
          text-align: center; }
        body .productMain .productContainer .productDiv a {
          font-size: 2rem;
          color: #CCAC00;
          text-decoration: none; }
          body .productMain .productContainer .productDiv a:hover {
            color: #FFE79E; }
      body .productMain .productContainer .paginationDiv {
        margin: 0 0 30px 30px; }
        body .productMain .productContainer .paginationDiv .pagination {
          list-style: none;
          font-size: 0.9rem; }
          body .productMain .productContainer .paginationDiv .pagination a {
            color: #0F100A;
            text-decoration: none; }
            body .productMain .productContainer .paginationDiv .pagination a:hover {
              color: grey; }

.resetformpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .resetformpage .resetform {
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 4px #2F342E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; }
    @media screen and (min-width: 992px) {
      .resetformpage .resetform {
        width: 60%; } }
    .resetformpage .resetform .resetheader {
      width: 100%;
      border-bottom: 5px double #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-top: 3rem; }
      .resetformpage .resetform .resetheader .resetlogo {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        color: #0F100A;
        font-family: "Abhaya Libre", serif;
        font-weight: bold; }
    .resetformpage .resetform .resetmessages {
      max-width: 50%;
      font-size: 0.6rem;
      text-align: center;
      margin-bottom: 1rem; }
    .resetformpage .resetform .reset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .resetformpage .resetform .reset .resetemail {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .resetformpage .resetform .reset .resetemail:focus {
          outline: none; }
      .resetformpage .resetform .reset .resetpassword {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .resetformpage .resetform .reset .resetpassword:focus {
          outline: none; }
      .resetformpage .resetform .reset .resetbtn {
        margin-top: 0.5rem;
        width: 100%;
        background-color: #2F342E;
        border: 1px solid transparent;
        color: #f9f9f9;
        padding: 0.4rem;
        letter-spacing: 0.3ch;
        font-family: "Roboto", sans-serif;
        cursor: pointer; }
        .resetformpage .resetform .reset .resetbtn:hover {
          transition: all 0.5s ease;
          border: 1px solid #2F342E;
          background-color: #f9f9f9;
          color: #2F342E; }
    .resetformpage .resetform .tologin {
      margin: 1.5rem 0 3rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .resetformpage .resetform .tologin .tologinbtn {
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
        text-decoration: none;
        font-size: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        color: #2F342E;
        background-color: #f9f9f9;
        border: 1px solid #2F342E;
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        transition: background-color 0.5s ease; }
        .resetformpage .resetform .tologin .tologinbtn:hover {
          transition: all 0.5s ease;
          background-color: #2F342E;
          color: #f9f9f9; }

.resetpasswordpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .resetpasswordpage .resetpasswordform {
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 4px #2F342E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; }
    @media screen and (min-width: 992px) {
      .resetpasswordpage .resetpasswordform {
        width: 60%; } }
    .resetpasswordpage .resetpasswordform .resetpasswordheader {
      width: 100%;
      border-bottom: 5px double #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-top: 3rem; }
      .resetpasswordpage .resetpasswordform .resetpasswordheader .resetpasswordlogo {
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        color: #0F100A;
        font-family: "Abhaya Libre", serif;
        font-weight: bold; }
    .resetpasswordpage .resetpasswordform .resetpasswordmessages {
      max-width: 50%;
      font-size: 0.6rem;
      text-align: center;
      margin-bottom: 1rem; }
    .resetpasswordpage .resetpasswordform .resetpassword {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .resetpasswordpage .resetpasswordform .resetpassword .resetpassword1 {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .resetpasswordpage .resetpasswordform .resetpassword .resetpassword1:focus {
          outline: none; }
      .resetpasswordpage .resetpasswordform .resetpassword .resetpassword2 {
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 3px 0 2px 3px;
        background-color: #f9f9f9;
        border: none;
        border-bottom: 1px solid #CCAC00; }
        .resetpasswordpage .resetpasswordform .resetpassword .resetpassword2:focus {
          outline: none; }
      .resetpasswordpage .resetpasswordform .resetpassword .resetpasswordbtn {
        margin-top: 0.5rem;
        width: 100%;
        background-color: #2F342E;
        border: 1px solid transparent;
        color: #f9f9f9;
        padding: 0.4rem;
        letter-spacing: 0.3ch;
        font-family: "Roboto", sans-serif;
        cursor: pointer; }
        .resetpasswordpage .resetpasswordform .resetpassword .resetpasswordbtn:hover {
          transition: all 0.5s ease;
          border: 1px solid #2F342E;
          background-color: #f9f9f9;
          color: #2F342E; }

#wishWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }
  #wishWrapper a {
    text-decoration: none;
    color: black; }
    #wishWrapper a:hover {
      opacity: 0.7; }
  #wishWrapper #wishMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px; }
    #wishWrapper #wishMenu h3 {
      text-align: center; }
  #wishWrapper .wishItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border-bottom: 1px solid black;
    margin-bottom: 10px; }
    #wishWrapper .wishItem img {
      width: 187.5px;
      height: 312.5px; }
  @media screen and (min-width: 768px) {
    #wishWrapper {
      flex-direction: row;
      flex-wrap: wrap; }
      #wishWrapper .wishItem {
        border-bottom: none;
        margin-bottom: 10px; }
      #wishWrapper .wishItem {
        width: 45%; } }
  @media screen and (min-width: 992px) {
    #wishWrapper {
      flex-direction: row;
      flex-wrap: wrap; }
      #wishWrapper .wishItem {
        border-bottom: none;
        margin-bottom: 10px; }
      #wishWrapper .wishItem {
        width: 30%; } }
  @media screen and (min-width: 1200px) {
    #wishWrapper {
      flex-direction: row;
      flex-wrap: wrap; }
      #wishWrapper .wishItem {
        border-bottom: none;
        margin-bottom: 10px; }
      #wishWrapper .wishItem {
        width: 22%; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #F9F9F9;
  color: #0F100A;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; }
  body header {
    width: 100%;
    height: 75px;
    position: relative;
    border-bottom: 5px double black; }
    @media screen and (min-width: 1024px) {
      body header {
        height: 95px; } }
    body header h1 {
      position: absolute;
      top: 25%;
      left: 50%;
      margin-left: -77px;
      font-family: 'Abhaya Libre', serif;
      font-size: 2rem;
      letter-spacing: 5px; }
      @media screen and (min-width: 1024px) {
        body header h1 {
          font-size: 2.2rem;
          top: 30%; } }
    body header .nameOrAdminDiv {
      float: left;
      position: absolute;
      top: 50%;
      margin-top: -6.5px;
      margin-left: 15px;
      font-size: 0.7rem; }
      @media screen and (min-width: 768px) {
        body header .nameOrAdminDiv {
          font-size: 0.8rem; } }
      body header .nameOrAdminDiv p {
        text-transform: uppercase; }
      body header .nameOrAdminDiv a {
        color: #0F100A;
        text-transform: uppercase;
        cursor: pointer; }
        body header .nameOrAdminDiv a:hover {
          color: grey; }
    body header .headerLinksDiv {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      margin-right: 15px; }
      @media screen and (min-width: 768px) {
        body header .headerLinksDiv {
          flex-direction: row;
          align-items: center; } }
      body header .headerLinksDiv a {
        color: #0F100A;
        font-size: 0.7rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: end;
        cursor: pointer; }
        @media screen and (min-width: 768px) {
          body header .headerLinksDiv a {
            font-size: 0.8rem;
            margin: 0 7px; } }
        body header .headerLinksDiv a:hover {
          color: grey; }
  body .indexMain {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .indexMain .heroText {
      width: 50%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body .indexMain .heroText {
          width: 100%; } }
      body .indexMain .heroText p {
        font-size: 1.2rem; }
    body .indexMain .indexHero {
      width: 100%;
      overflow: hidden; }
      body .indexMain .indexHero img {
        height: 650px; }
        @media screen and (min-width: 768px) {
          body .indexMain .indexHero img {
            width: 100%;
            height: 100%; } }
    body .indexMain .discoverDiv {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      body .indexMain .discoverDiv .discoverText {
        font-size: 1.1rem;
        font-weight: bold; }
    body .indexMain .indexProductContainer {
      width: 100%;
      height: 330px;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #2F342E; }
      @media screen and (min-width: 1024px) {
        body .indexMain .indexProductContainer {
          height: 450px; } }
      body .indexMain .indexProductContainer .indexProductDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        @media screen and (min-width: 768px) {
          body .indexMain .indexProductContainer .indexProductDiv {
            width: 50%;
            display: flex; } }
        @media screen and (min-width: 1024px) {
          body .indexMain .indexProductContainer .indexProductDiv {
            width: 30%; } }
        body .indexMain .indexProductContainer .indexProductDiv:nth-of-type(2) {
          display: none; }
          @media screen and (min-width: 1024px) {
            body .indexMain .indexProductContainer .indexProductDiv:nth-of-type(2) {
              width: 30%;
              display: flex; } }
        body .indexMain .indexProductContainer .indexProductDiv:nth-of-type(3) {
          display: none; }
          @media screen and (min-width: 768px) {
            body .indexMain .indexProductContainer .indexProductDiv:nth-of-type(3) {
              width: 50%;
              display: flex; } }
          @media screen and (min-width: 1024px) {
            body .indexMain .indexProductContainer .indexProductDiv:nth-of-type(3) {
              width: 30%; } }
        body .indexMain .indexProductContainer .indexProductDiv img {
          width: 20%; }
          @media screen and (min-width: 768px) {
            body .indexMain .indexProductContainer .indexProductDiv img {
              width: 30%; } }
        body .indexMain .indexProductContainer .indexProductDiv .productTitle {
          font-weight: bold; }
        body .indexMain .indexProductContainer .indexProductDiv div {
          width: 25%;
          display: flex;
          justify-content: space-around;
          font-size: 0.8rem;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 20px; }
          @media screen and (min-width: 768px) {
            body .indexMain .indexProductContainer .indexProductDiv div {
              width: 100%;
              justify-content: center; } }
          body .indexMain .indexProductContainer .indexProductDiv div .originBlend {
            margin: 0 5px; }
        body .indexMain .indexProductContainer .indexProductDiv a {
          padding: 5px 25px;
          background-color: #2F342E;
          color: #F9F9F9;
          font-size: 0.8rem;
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 10px; }
          body .indexMain .indexProductContainer .indexProductDiv a:hover {
            background-color: #525252; }
    body .indexMain .indexQuoteText {
      width: 80%;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      body .indexMain .indexQuoteText p {
        font-size: 1.1rem;
        font-style: italic; }
  body footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F342E; }
    body footer .footerContactDiv {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      color: #F9F9F9; }
      body footer .footerContactDiv a {
        margin-top: 10px;
        color: #F9F9F9; }
        body footer .footerContactDiv a:hover {
          color: grey; }
